<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test" parallel="methods">
    <classes>
      <class name="com.webautomation.tests.BaseTests"/>
      <class name="com.webautomation.tests.OrangeHRMTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
