WebAutomationFramework/test-output/*
WebAutomationFramework/doc/*
WebAutomationFramework/extent-test-output/*
WebAutomationFramework/test-output/Default suite/Default test.html
WebAutomationFramework/test-output/Default suite/Default test.xml
WebAutomationFramework/test-output/Default suite/testng-failed.xml
WebAutomationFramework/test-output/Suite/Test.xml
WebAutomationFramework/test-output/Suite/testng-failed.xml
WebAutomationFramework/test-output/testng-failed.xml
WebAutomationFramework/test-output/testng-results.xml
